html { 
	background: url(images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
  }
  ::-webkit-scrollbar {
    display: none;
}
	
	/*--------------------------Navbar-----------------------*/
	

	  /* Style the navigation bar */

	  .navbar {
		width: 100%;
		margin-top: 2%;
		overflow: auto;
	  }
	  
	  /* Navbar links */
	  .navbar a {
		float: right;
		text-align: center;
		padding: 20px;
		color: white;
		text-decoration: none;
		font-size: 17px;
	  }
	  .logo img{
		float:left;
		width: 10%;
		height:auto;
		margin-left: 2%;
	}
	  /* Navbar links on mouse-over */
	  .navbar a:hover {
		background-color: white;
		color:black;
	  }
	  
	  /* Current/active navbar link */
	  .active {
		border-style: solid;
        border-width: 5px;
	  }
	  
	  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
	  @media screen and (max-width: 500px) {
		.navbar a {
		  float: none;
		  display: block;
		}
	  }
	  

	/*------------FAQ's---------------------*/
	
	.title
	{
	  color:white;
	  text-align: center;
	}
	.contact-section{
		background-size: cover;
		padding: 40px 0;
		
	  }
	  .contact-section h1{
		text-align: center;
		color: #ddd;
	  }
	  .border{
		width: 100px;
		height: 10px;
		background: #34495e;
		margin: 40px auto;
	  }
	  
	  .contact-form{
		max-width: 600px;
		margin: auto;
		padding: 0 10px;
		overflow: hidden;
	  }
	  
	  .contact-form-text{
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin: 16px 0;
		border: 0;
		background: #111;
		padding: 20px 40px;
		outline: none;
		color: #ddd;
		transition: 0.5s;
	  }
	  .contact-form-text:focus{
		box-shadow: 0 0 10px 4px #34495e;
	  }
	  textarea.contact-form-text{
		resize: none;
		height: 120px;
	  }
	  .contact-form-btn{
		float: right;
		border: 0;
		background: #34495e;
		color: #fff;
		padding: 12px 50px;
		border-radius: 20px;
		cursor: pointer;
		transition: 0.5s;
	  }
	  .contact-form-btn:hover{
		background: #2980b9;
	  }
	  
	 /*----------------FAQ--------------*/
	 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active1, .accordion:hover {
	background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
  }
  