
	html { 
		background: url(images/background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		font-family: sans-serif;
	  }
	  ::-webkit-scrollbar {
		display: none;
	}
	/*----------------Navigation--------------*/

	  /* Style the navigation bar */

	  .navbar {
		width: 100%;
		margin-top: 2%;
		overflow: auto;
	  }
	  
	  /* Navbar links */
	  .navbar a {
		float: right;
		text-align: center;
		padding: 20px;
		color: white;
		text-decoration: none;
		font-size: 17px;
	  }
	  .logo img{
		float:left;
		width: 10%;
		height:auto;
		margin-left: 2%;
	}
	  /* Navbar links on mouse-over */
	  .navbar a:hover {
		background-color: white;
		color:black;
	  }
	  
	  /* Current/active navbar link */
	  .active {
		border-style: solid;
        border-width: 5px;
	  }
	  
	  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
	  @media screen and (max-width: 500px) {
		.navbar a {
		  float: none;
		  display: block;
		}
	  }
	
     /* ----------------Inside--------------- */
  .register
  {
	 font-size: 20px;
	 background-color:#9E1823;
	 color:white;
	 padding:15px 120px;
	 border-radius: 20px;
	 cursor: pointer; 
	 display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top:2%;
  }
	 
  .register:hover
  {
	background-color: #D2525C; 
  }
  .divi
  { 
	  color: white;
	  margin: auto;
	  width: 49%;
	  height:auto;
	  padding: 10px;
	  text-align: center;
	  background: rgba(84, 84, 84, 0.69); 
	  border: 3px outset white;
	  border-radius: 20px;
	  margin-top: 5%;
  }
  .mail
    { 
        width:auto;
        padding:10px;
        border-radius:4px;
        margin-top:1px;
        display: inline;
        
    }
    .p
    {
      display: inline;
    }
